.container {
    width: 320px;
    
    margin-left: auto;
    margin-right: auto;

    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    
    text-align: center;
    
    @media screen and(min-width: 768px) {
        padding-top: 111px;
        width: 768px;
        
    }
    
    
    @media screen and(min-width: 1440px) {
        width: 1440px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
