.search-form {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and(min-width: 768px) {
        width: 720px;
    }

    
    @media screen and(min-width: 1440px) {
        width: 100%;
    }   
}

.input{
    width: 270px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 10px;

    
    
    border: 2px solid rgba(170, 167, 167, 0.3);
    border-radius: 4px;
    outline: none;
        &:focus{
            outline: none;
            border-color: var(--accent-color);
        }

        @media screen and(min-width: 768px) {
            width: 650px;
        }
    
        
        @media screen and(min-width: 1440px) {
            width: 400px;
        }    
}
